<div class="container py-4">

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container1">
          <iframe src="https://www.youtube.com/embed/DZ1wKk7WAZU" frameborder="0" allowfullscreen class="video"></iframe>
          </div>
          <h1 class="display-5 fw-bold"><p class="text-center">The Women’s Foundation of Minnesota</h1></p>
        <div class="text-center"><%= button_to "Website", 'https://www.wfmn.org/', class: "btn btn-primary btn-lg mb-3", type: "button" %>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://www.blackgirlscode.com/about-us/">Black Girls Code</a></li>
            <li class="breadcrumb-item"><a href="https://girlswhocode.com/">Girls Who Code</a></li>
            <li class="breadcrumb-item"><a href="https://www.womenwhocode.com/">Women Who Code</a></li>
            <li class="breadcrumb-item"><a href="https://www.kodewithklossy.com/">Kode with Klossy</a></li>
            <li class="breadcrumb-item"><a href="https://code.org/girls">Code.Org Girls</a></li>
            <li class="breadcrumb-item"><a href="https://pearlsafrica.org/">Pearls Africa</a></li>
            <li class="breadcrumb-item"><a href="https://www.coding-girls.com/">Coding Girls</a></li>
            <li class="breadcrumb-item"><a href="https://www.girlswillcode.com/">Girls will Code</a></li>

          </ol>
        </div>

      </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Change the background</h2>
          <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
          <button class="btn btn-outline-light" type="button">Example button</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Add borders</h2>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
          <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
      </div>
    </div>


      </div>

