<div class="text-center">
<h1 class="blu">About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>
</div>

<p>
  <%= @about_me %>
</p>
<p>
  <% answer = 2 + 3 %>
  2 + 3 = <%= @answer %>
</p>
